@font-face {
    font-family: 'MagistralC';
    src: url('fonts/MagistralC.eot');
    src: local('PT Magistral Cyrillic'), local('MagistralC'),
    url('fonts/MagistralC.eot?#iefix') format('embedded-opentype'),
    url('fonts/MagistralC.woff2') format('woff2'),
    url('fonts/MagistralC.woff') format('woff'),
    url('fonts/MagistralC.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MagistralC';
    src: url('fonts/MagistralC-Bold.eot');
    src: local('PT Magistral Bold Cyrillic'), local('MagistralC-Bold'),
    url('fonts/MagistralC-Bold.eot?#iefix') format('embedded-opentype'),
    url('fonts/MagistralC-Bold.woff2') format('woff2'),
    url('fonts/MagistralC-Bold.woff') format('woff'),
    url('fonts/MagistralC-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

* {
    font-family: MagistralC;
}


#section1 {

}
#section1 img{
    width: 250px;
    height: 150px;
}

#section2{
    font-size: 20px;
}

#section2 img{
    width: 300px;
    height: 150px;
}
/*#section1 .container-fluid{*/
/*    background-color: #00b248;*/
/*}*/
#section1 .row {
    padding: 10px;
}

#section3 img{
    width: 500px;
}

#history-rio{
    background-color: #28A81D;
    border: black solid 2px;
}